@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

/* Universal styles */
* {
    font-family: 'Fredoka', sans-serif;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #f1f5f8;
}

/* Navbar styles */
.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 30px;
    color: white;
    background-color: black;
}

h4 {
    font-size: 30px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Main styles */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 40px;
}

h2 {
    font-size: 50px;
    padding: 25px 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

button {
    font-size: 30px;
    font-weight: 700;
    padding: 15px 20px;
    border: 5px solid black;
    border-radius: 10px;
}

button:hover {
    color: white;
    background-color: black!important;
}